.svg{
    height:110px;
    width:110px;
    fill:red;
    text-align: left;
}
.nav{
     text-align: center; 
     padding:25px;     
    color: black;          
    background-color: beige; 
                        
}                                     

.login-button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.login-button:hover {
    background-color: #0056b3;
}
.card-container{
    display: flex;
}
.product{
    padding: 10px;
}