.svg{
    fill:red;
    height:200px;
    width:200;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: white;
}

header {
    background-color: rgb(255, 7, 7);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding:0 20px;
    font-size: 14px;
}

nav a:hover {
    color: #b3b3b3;
}